<% var title = 'Ajout produit' %>
<% include head %>
<style> 
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
</style>

<header>
<div class="w3-container w3-orange">
  <div class="w3-display-container">  
    <div class="w3-bar">
      <div class="w3-bar-item w3-text-white"><h4 style="text-align: center;">Ajouter un produit à acheter</h4></div>
    </div>
  </div>
</div>
</header>

<form class="w3-container w3-padding-large" method="post" action="/ajoutProduit">
  <p>
    <label>Nom du produit :</label>
    <input class="w3-input w3-border w3-round" type="text" name="nomProduit">
  </p>
  <p>
    <label>Ajouter une description pour ce produit :</label>
    <textarea name="descriptionProduit"> </textarea>
  </p>
  <p>
    <label>Prix (euros) du produit au kilo : </label>
    <input class="w3-input w3-border w3-round" type="number" name="prixProduit">
  </p>
  <p>
    <label>Quel est la quantité disponible pour ce produit ?</label>
    <input class="w3-input w3-border w3-round" type="number" name="quantiteProduit">
  </p>
  <p>
    <button class="w3-orange w3-btn w3-round-xxlarge" type="submit">Ajouter ce produit</button>
  </p>
</form>

<% include foot %>
