<% var title = 'Formulaire connection espace admin' %>
<% include head %>

<h1>Connection à l'espace administrateur</h1>
<form method="post">
  <p>
    <label>Nom:</label>
    <input type="text" name="nomAdmin">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="mdpAdmin">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>

<% include foot %>
