<% var title = 'HOME' %>
<% include head %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<p id="userName">Bonjour </p>
<script>
  if(document.cookie){
    var s= document.getElementById("userName");
  	s.value = document.cookie.replace(/name=|;|id=|/g,'');
  	$("#userName").append(s.value);
  }
  </script>

  	<table>
  		<tr>
  			<td>
  <% listeProduit.forEach(function(produit){ %>
  	
			    <table border = 1>
				    <tr>
				    	<td colspan="2" style="text-align: center;"><strong><%= produit.nomProduit%></strong></td>
					</tr>
			    	<tr>
			    		<td> Description du produit </td>
						<td> <%= produit.descriptionProduit %></td>
					</tr>
			    	<tr>
			    		<td> Prix du produit </td>
						<td> <%= produit.prixProduit %> €</td>
					</tr>
			    	<tr>
			    		<td> Quantité restante pour ce produit </td>
						<td> <%= produit.quantiteProduit %></td>
					</tr>
				</table>
				<a href="#">Ajouter ce produit au panier </a>
  <% }); %>

			</td>
		</tr>
	</table>
	
<form method="post">
  <p id="ajoutButton"></p>
  <p>
    <input type="submit" value="Accéder à votre profil">
  </p>
</form>

<script>
function ajoutInput(){
var insertion = document.getElementById("ajoutButton");
var input = document.createElement("input");
input.setAttribute("name","voirProfil");
input.setAttribute("type","hidden");
input.setAttribute("value",s.value);
insertion.appendChild(input);
}
ajoutInput();
</script>
<% include foot %>
