<% var title = 'Formulaire login' %>
<% include head %>

<div class="w3-display-container " style="height:500px">
<div class="w3-card-4 w3-display-middle" style="margin-top: 60px">

<div class="w3-container w3-orange">
<h1>Login</h1>
</div>

<form class="w3-container w3-padding-large" method="post" action="/login">
  <p>
    <label>Nom:</label>
    <input class="w3-input w3-border w3-round" type="text" name="nom">
  </p>
  <p>
    <label>Password:</label>
    <input class="w3-input w3-border w3-round" type="password" name="mdp">
  </p>
  <p>
    <button class="w3-orange w3-btn w3-round-xxlarge" type="submit">Login</button>
  </p>
</form>

<ul  class="w3-ul" style="list_style_type:disc; width:100%;">
  <a class="w3-button w3-hover-orange" style ="text-decoration:none; width:100%" href="/inscription">S'inscrire</a>
  <a class="w3-button w3-hover-orange" style ="text-decoration:none; width:100%" href="connectionAdmin">Se connecter en tant qu'administrateur</a>
</ul>
  </div>
</div>
<% include foot %>
